* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #eaeaea;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
   display: inline-block;
   font-size: 18px;
   color: #222;
   text-decoration: none;
   font-weight: 500;
   margin: 0 20px;
   transition: .3s;
   opacity: 0;
   animation: slideTop .5s ease forwards;
   animation-delay: calc(.5s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #1743e3;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    animation: slideSocial 2s ease forwards;
    animation-delay: calc(.2s * var(---i));
}

.social-media a:hover {
       border-color: #eaeaea;
}

.social-media a i {
    font-size: 24px;
    color: #eaeaea;
    transform: rotate(-45deg);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
     font-size: 50px;
     line-height: 1.2;
     opacity: 0;
     animation: slideBottom 1s ease forwards;
     animation-delay: 1s;
}

.home-content h3 {
    font-size: 40px;
    color: #1743e3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    border: 2px solid #1743e3;
    background: #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    animation: slideRight 2s ease forwards;
}

.btn:hover {
    background: transparent;
    color: #1743e3;
}

.home-img {
    position: relative;
    right: -7%;
    bottom: -15%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.home-img .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    border: 25px solid #1743e3;
    box-shadow:  -15px 15px 15px rgba(0, 0, 0, .2);
}

.home-img .rhombus img {
    position: absolute;
    max-width: 750px;
}

img {
    position: absolute;
    top: 110px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);
    transition: .5s;
    animation: rotateIn 2s ease forwards;
}

.home .rhombus2 {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #1743e3;
    transform: rotate(45deg);
    top: -15%;
    right: -15%;
    z-index: -1;
    transition: .5s;
    animation: slideRight2 2s ease forwards;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #222;
    margin: 2px;
    transition: 0.4s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight2 {
    0% {
        transform: translateX(-100px) rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: translateY(1) rotate(45deg);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(1);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSocial {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(45deg);
        opacity: 1;
    }
}

@media (max-width: 768px) {

    /* Header */
    .header {
        padding: 20px 5%;
    }

    .social-media {
        width: 120px;
        height: 35px;
    }

    .social-media a {
        width: 35px;
        height: 35px;
    }

    /* Home section */
    .home {
        flex-direction: column;
        justify-content: center;
        padding: 120px 5% 0;
        height: auto;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
    }

    .home-content h1 {
        font-size: 34px;
    }

    .home-content h3 {
        font-size: 26px;
    }

    .home-content p {
        font-size: 15px;
    }

    .btn {
        padding: 10px 22px;
        font-size: 15px;
        margin-bottom: 3rem;
    }

    /* Image section */
    .home-img {
        position: relative;
        right: 0;
        bottom: 0;
        width: 280px;
        height: 280px;
        margin-top: 40px;
        transform: rotate(45deg);
    }

    .home-img .rhombus {
        border-width: 15px;
    }

    .home-img .rhombus img {
        max-width: 400px;
    }

    img {
        top: 60px;
        left: -120px;
        max-width: 400px;
    }

    .home .rhombus2 {
        width: 400px;
        height: 400px;
        top: -30%;
        right: -30%;
    }

    .hamburger {
        display: flex;
    }

    .navbar {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 220px;
        height: auto;
        background: #eaeaea;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        transition: 0.4s ease;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, .1);
}

.navbar a {
    margin: 15px 0;
    font-size: 18px;
}

.navbar.active {
    right: 5%;
}
}
